#social-buttons button {
	color: white;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}

.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}

.navbar {
	top: 40px;
    width: 100%;
}

.body {
	padding-top: 30px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.jumbotron {
	padding-top:70px;
	display: inline-block;
	height: 330px;
	width:100%;
    background-image: url(../images/vineyard_sun.jpg);
	background-size: cover;
}

#title {
	font-size: 90px;
	font-family:'Old Standard TT', serif;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}

#sub-title {
	font-size: 30px;
	font-family:'Old Standard TT', serif;
	color: white;
	/*font-weight: bold;*/
	vertical-align: middle;
}

#intro_quote{
	font-size: 30px;
	font-family:'Old Standard TT', serif;
	font-style: italic;
	color: black;
	vertical-align: middle;


}
.carousel {
	height:350px;
}

.carousel-inner > .item > img {
	padding-top: 15px;
  	height:250px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	color: black;
	font-family:'Old Standard TT', serif;
}

.carousel-inner img {
  margin: auto;
}

#about_us {
	font-family: 'Open Sans', sans-serif;
}

#abous_us > h1 {
	font-size: 20px;
}